@model Inovate.Web.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Inovate";
}

<div class="jumbotron">
    <div class="container">
        <h1>Inovação!</h1>
        <p>If you want something new, you have to stop doing something old</p>
        <p><a class="btn btn-primary btn-lg">Saiba Mais »</a></p>
    </div>
</div>

<div class="container marketing">

    <div class="row">
    @foreach (var item in Model.FeaturedProjects)
    {
        <div class="col-lg-4">
            <img class="img-circle" src="@item.ImageUrl" alt="@item.Title" />
            <h2>@item.Title</h2>
            <p>@item.ShortDescription</p>
            <p><a class="btn btn-default" href="#">Fundar &raquo;</a></p>
        </div>
    }
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Liberdade. <span class="text-muted">Deixe a sua criatividade fluir</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="http://lorempixel.com/500/500" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="http://lorempixel.com/500/500" />
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Recompensa. <span class="text-muted">Se a produto tiver sucesso vc tambem tera sucesso.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Inclusão. <span class="text-muted">Todo mundo pode participar seja de qual area for.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="http://lorempixel.com/500/500"/>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
