@using Microsoft.AspNet.Identity
@model Inovate.Web.Models.ApplicationUser
@{
    ViewBag.Title = "Crédito";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        @if (Request.IsAuthenticated)
        {
            <h1>Meu crédito atual é <span class="text-success" style="font-weight:bolder">@Html.Raw((new Random()).Next(150)).</span></h1>
        }
        else
        {
            <h1> Voce precisa estar autenticado apra ver seu saldo</h1>
        }
    </div>
</div>
